a {
  text-decoration: underline;
}

.body {
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  padding: 0px;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.section {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  margin-left: 0px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 22px dashed #000;
  mix-blend-mode: screen;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 1% 50%;
  object-position: 1% 50%;
}

.section-2 {
  margin-left: 0px;
  padding-left: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 400;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.navbar {
  margin-right: 0px;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav-menu {
  margin-right: 0px;
}

.container-2 {
  position: static;
  padding-left: 0px;
}

.navbar-2 {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0px;
  right: 0%;
  background-color: hsla(0, 0%, 100%, 0.11);
  background-image: url('../images/Bild_2022-04-22_192142900.png');
  background-position: 0px 0px;
  background-size: auto;
  font-size: 14px;
}

.navbar-2.stylenavsticky {
  left: 0%;
  top: 0px;
  right: 0%;
}

.nav-link-2 {
  opacity: 1;
}

.image {
  display: inline-block;
  overflow: visible;
  max-width: 100%;
  text-align: left;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-2 {
  padding-top: 8px;
  text-align: left;
}

.stylenav {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.stylenav.w--current {
  background-color: transparent;
  direction: ltr;
  color: #000;
  text-decoration: underline;
  text-transform: none;
  text-shadow: 0 0 1px #000;
}

.div-block {
  text-align: center;
}

.div-block-2 {
  min-height: 2px;
  min-width: 100px;
  background-color: #000;
}

.image-3 {
  position: static;
  display: inline-block;
  margin: 0px 204px 0px 0px;
  padding: 0px 170px 0px 0px;
  float: right;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-4 {
  max-height: 100px;
  max-width: 100px;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link-3 {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  color: #444;
  text-decoration: none;
}

.nav-link-3:hover {
  text-decoration: underline;
}

.footer {
  padding: 60px 30px 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: hsla(0, 0%, 56.5%, 0.11);
  box-shadow: inset 0 -7px 20px -5px rgba(0, 0, 0, 0.3);
  opacity: 1;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.feature-section {
  margin-bottom: 0px;
  padding: 40px;
}

.feature-section.blog3 {
  margin-bottom: 90px;
}

.feature-section.blogpadding {
  padding-top: 20px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-container.styleblog {
  padding-top: 35px;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image-mask.feature-image-mask2 {
  margin-right: 0px;
  margin-left: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  max-width: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.contact-form {
  margin-bottom: 0px;
  padding: 30px 30px 110px;
  background-color: transparent;
  color: #000;
}

.contact-form.faq {
  padding-bottom: 120px;
}

.small-text {
  padding-top: 10px;
  padding-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-3 {
  width: 100%;
  height: 1px;
  max-height: 1px;
  margin-left: 0px;
  padding-top: 0px;
  background-color: #000;
}

.heading {
  width: 100%;
  margin-bottom: 40px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  text-align: center;
}

.section-3 {
  position: fixed;
  left: 0px;
  top: auto;
  right: 0px;
  bottom: auto;
}

.hero-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-height: 780px;
  margin-top: 0px;
  padding: 30px 30px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: transparent;
  color: transparent;
}

.hero-overlay.abc1 {
  max-height: none;
  margin-bottom: 130px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.hero-overlay.abc1.blogchange {
  margin-bottom: 50px;
  padding-bottom: 0px;
}

.hero-overlay.abc1.konfiguratormargin {
  margin-bottom: 60px;
  padding-top: 30px;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
  box-shadow: 0 0 0 0 #000;
  color: #000;
  text-align: center;
}

.centered-container.abc {
  max-height: none;
  max-width: none;
  background-image: url('../images/Bild_2022-04-25_085527599.png');
  background-position: 50% 50%;
  background-size: auto;
  background-attachment: fixed;
}

.paragraph {
  width: 100%;
  margin-top: 0px;
  padding-top: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-style: normal;
  text-align: left;
  text-decoration: none;
}

.paragraph.p2 {
  margin-top: 60px;
  text-align: center;
}

.call-to-action {
  padding-top: 0px;
  padding-bottom: 0px;
}

.centered-container-2 {
  margin-top: 0px;
  padding-top: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.heading-2 {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-size: 32px;
  text-align: center;
}

.heading-3 {
  color: #000;
}

.body-2 {
  color: #000;
}

.subscribe-form {
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 120px;
  background-color: transparent;
}

.centered-container-3 {
  padding: 0px 75px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #000;
  text-align: center;
}

.subscribe-form-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subscribe-form-input-wrapper {
  text-align: left;
}

.subscribe-form-input {
  width: 100%;
  margin-bottom: 0px;
  background-color: #fff;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.heading-4 {
  min-width: 475px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-size: 32px;
  text-align: center;
}

.heading-5 {
  min-width: 475px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  text-align: center;
}

.heading-6 {
  min-width: 475px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  text-align: center;
}

.button {
  display: block;
  margin-top: 40px;
  margin-right: 150px;
  margin-left: 150px;
  padding-top: 8px;
  padding-right: 15px;
  border-radius: 20px;
  background-color: #0b386c;
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: center;
}

.button.buttonup {
  margin-right: 140px;
  margin-left: 140px;
}

.image-5 {
  padding-top: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 20px;
  box-shadow: 7px 7px 50px 0 rgba(0, 0, 0, 0.3);
}

.column-2 {
  left: 0px;
  right: 0px;
}

.heading-7 {
  margin-bottom: 5px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 30px;
}

.body-3 {
  color: #000;
}

.paragraph-2 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.text-field {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.text-field-2 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.text-field-3 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.textarea {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.field-label {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.field-label-2 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.field-label-3 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.field-label-4 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.text-block {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.text-block-2 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.div-block-4 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.text-block-3 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.paragraph-3 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.paragraph-4 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.paragraph-5 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.heading-8 {
  margin-bottom: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.field-label-5 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.submit-button {
  position: static;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #0b386c;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.dropdown-link {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.dropdown-link-2 {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.dropdown-link-3 {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.styleimageshadow {
  max-width: 100%;
  min-width: 350px;
  border-radius: 10px;
  box-shadow: 7px 7px 50px 0 rgba(0, 0, 0, 0.35);
}

.bold-text {
  border: 1px none #000;
  border-radius: 0px;
  cursor: auto;
}

.link {
  color: #000;
}

.div-block-5 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.error-message {
  border-radius: 20px;
}

.success-message {
  margin-top: 40px;
  border-radius: 20px;
  background-color: rgba(37, 160, 33, 0.25);
  font-family: Ubuntu, Helvetica, sans-serif;
}

.div-block-6 {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.paragraph-6 {
  overflow: visible;
  margin-bottom: 20px;
  padding-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #333;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.paragraph-6.blogleft {
  text-align: left;
}

.image-6 {
  margin-bottom: 130px;
  background-color: #fff;
}

.section-4 {
  background-color: transparent;
}

.cards-section {
  margin-bottom: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-weight: 500;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-9 {
  margin-bottom: 20px;
  color: #000;
  font-size: 28px;
}

.heading-10 {
  margin-bottom: 0px;
  background-color: transparent;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}

.heading-11 {
  margin-bottom: 0px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}

.button-2 {
  padding: 0px;
}

.slide {
  background-image: url('../images/alientech.jpg');
  background-position: 50% 50%;
  background-size: cover;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.slide-2 {
  background-image: url('../images/lightfix.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/lkw-z.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero-overlay-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  max-height: none;
  min-height: 0px;
  min-width: 100%;
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: none;
  background-position: 0px 0px;
  color: #fff;
}

.centered-container-4 {
  margin-top: 50px;
  padding-right: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.column-3 {
  color: #333;
}

.submit-button-2 {
  border-radius: 15px;
  background-color: #0b386c;
}

.button-3 {
  border-radius: 15px;
  background-color: #0b386c;
}

.html-embed {
  padding-top: 0px;
  border: 1px none #000;
  border-radius: 0px;
  background-color: #fff;
  color: #000;
}

.feature-section-2 {
  margin-bottom: 0px;
  padding-top: 54px;
  padding-bottom: 100px;
}

.feature-image-2 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.video {
  margin-bottom: 100px;
  padding-bottom: 0px;
}

.feature-section-3 {
  padding: 20px 30px 50px;
}

.feature-section-3.feature-section-change {
  padding-bottom: 130px;
}

.container-5 {
  margin-top: 0px;
}

.button-4 {
  display: inline-block;
  border-radius: 0px;
  text-align: left;
}

.background-video {
  min-height: 700px;
  min-width: 0px;
  margin-top: 0px;
  margin-bottom: 70px;
  padding: 0px 30px;
  background-color: transparent;
  font-family: Ubuntu, Helvetica, sans-serif;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.container-6 {
  margin-top: 202px;
}

.hero-overlay-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 780px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px, 50% 50%;
  color: #fff;
}

.button-5 {
  border-style: solid;
  border-width: 2px;
  border-color: #026cb6;
  border-radius: 20px;
  background-color: #026cb6;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.div-block-10 {
  margin-top: 50px;
  padding-top: 0px;
}

.paragraph-7 {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.heading-12 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.italic-text {
  border: 1px none #000;
  border-radius: 20px;
  box-shadow: inset 0 0 8px -5px #000;
  outline-color: #000;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  text-decoration: none;
  mix-blend-mode: normal;
}

.div-block-11 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #333;
}

.section-6 {
  margin-bottom: 0px;
  padding: 30px 30px 0px;
}

.section-6.section7 {
  padding-top: 0px;
}

.columns {
  margin-top: 0px;
  padding-top: 20px;
}

.paragraph-8 {
  max-width: 500px;
  min-width: auto;
}

.paragraph-9 {
  max-width: 500px;
  min-width: auto;
  font-style: normal;
}

.button-6 {
  text-align: left;
}

.text-span {
  color: #000;
}

.italic-text-2 {
  text-decoration: underline;
}

.italic-text-3 {
  font-style: normal;
}

.column-4 {
  color: #333;
}

.heading-13 {
  font-size: 30px;
}

.heading-14 {
  font-size: 30px;
}

.tab-link-tab-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tab-link-tab-1.w--current {
  display: inline-block;
}

.tab-link-tab-2 {
  display: inline-block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.tabs-menu {
  margin-bottom: 60px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.tab-link-tab-1-2 {
  width: 49.5%;
  margin-right: 0px;
}

.tab-link-tab-1-2.w--current {
  width: 49.5%;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #b9b9b9;
}

.tab-link-tab-2-2 {
  width: 49.5%;
  margin-left: 0px;
}

.tab-link-tab-2-2.w--current {
  width: 49.5%;
  margin-left: 0px;
  background-color: #b9b9b9;
}

.tab-link-tab-2-2.tab2 {
  width: 33%;
}

.tabs {
  margin-bottom: 130px;
}

.image-7 {
  margin-top: 50px;
  margin-right: 30px;
  padding-right: 0px;
}

.text-span-2 {
  font-size: 1px;
  line-height: 1px;
}

.image-8 {
  margin-top: 50px;
}

.button-konfigurator {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  min-width: 50px;
  margin-right: 0px;
  border-radius: 20px;
  background-color: #026cb6;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.paragraph-10 {
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 0px;
  border: 1px none #000;
  border-radius: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.paragraph-10.styleimageshadow {
  padding-top: 0px;
}

.paragraph-10.styleimageshadow.konfiguratorshadow {
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
}

.text-block-4 {
  margin-right: 450px;
  margin-left: 450px;
  box-shadow: -7px 7px 20px 0 rgba(0, 0, 0, 0.35);
}

.field-label-6 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.field-label-6.field-label-7 {
  margin-bottom: 5px;
}

.field-label-7 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.form {
  padding-right: 120px;
  padding-left: 120px;
  background-image: url('../images/Bild_2022-05-21_211041200.png');
  background-position: 50% 50%;
  background-size: cover;
}

.field-label-8 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.html-embed-2 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.html-embed-3 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.html-embed-4 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.text-span-3 {
  font-weight: 400;
}

.columns-2 {
  padding-top: 0px;
}

.container-7 {
  padding-bottom: 130px;
}

.paragraph-11 {
  margin-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.paragraph-12 {
  margin-bottom: 0px;
}

.paragraph-13 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.paragraph-14 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.paragraph-15 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.html-embed-5 {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.html-embed-6 {
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.html-embed-7 {
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.html-embed-8 {
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.html-embed-9 {
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.link-2 {
  color: #000;
}

.columns-3 {
  margin-top: 40px;
  padding-top: 0px;
}

.heading-15 {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}

.heading-15.headinganpassungen {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 22px;
}

.heading-16 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.paragraph-16 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.feature-section-4 {
  padding-top: 0px;
  padding-bottom: 60px;
}

.feature-section-4.anpassungen {
  padding-bottom: 130px;
}

.paragraph-17 {
  min-width: auto;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
}

.heading-17 {
  padding-left: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
}

.div-block-14 {
  padding-left: 0px;
}

.slide-4 {
  background-image: url('../images/Bild_2022-05-20_173139741.png');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-5 {
  background-image: url('../images/Bild_2022-05-20_173537940.png');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-6 {
  background-image: url('../images/Bild_2022-05-20_205526527.png');
  background-position: 50% 50%;
  background-size: cover;
}

.tab-link-tab-3 {
  width: 33%;
}

.tabs-menu-2 {
  width: auto;
  margin-bottom: 60px;
}

.tab-link-tab-1-3 {
  width: 33%;
}

.tab-link-tab-1-3.w--current {
  width: 33%;
}

.tab-link-tab-2-3 {
  width: 33%;
}

.tab-link-tab-3-2 {
  width: 33%;
}

.slide-7 {
  background-image: url('../images/Bild_2022-05-20_210538705.png');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-8 {
  background-image: url('../images/Bild_2022-05-20_211041421.png');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-9 {
  background-image: url('../images/Bild_2022-05-20_211518127.png');
  background-position: 50% 50%;
  background-size: cover;
}

.html-embed-10 {
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.div-block-17 {
  text-align: center;
}

.link-3 {
  color: #000;
}

.link-4 {
  color: #131111;
}

.link-4.w--current {
  color: #000;
}

.text-block-6 {
  color: #000;
}

.link-5 {
  color: #000;
}

.text-span-4 {
  text-align: center;
}

.link-6 {
  color: #000;
}

.error-message-2 {
  border-radius: 20px;
}

.div-block-19 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

.success-message-2 {
  margin-top: 40px;
  border-radius: 20px;
  background-color: rgba(37, 160, 33, 0.25);
  color: #000;
}

.div-block-20 {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.slide-10 {
  background-image: url('../images/Bild_2022-05-21_170154317.png');
  background-position: 50% 50%;
  background-size: cover;
}

.html-embed-11 {
  margin-bottom: 5px;
  padding-top: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
}

.html-embed-12 {
  margin-top: 40px;
  margin-bottom: 5px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
}

.html-embed-13 {
  margin-top: 40px;
  margin-bottom: 5px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
}

.html-embed-14 {
  margin-top: 40px;
  margin-bottom: 5px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
}

.html-embed-15 {
  margin-top: 40px;
  margin-bottom: 5px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
}

.div-block-21 {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px none #000;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.9);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
}

.html-embed-16 {
  margin-top: 40px;
}

.section-8 {
  margin-bottom: 130px;
  padding-right: 30px;
  padding-left: 30px;
}

.div-block-22 {
  margin-right: 120px;
  margin-left: 120px;
}

.columns-4 {
  margin-right: 0px;
  margin-left: 0px;
}

.html-embed-17 {
  text-align: center;
}

.html-embed-18 {
  margin-top: 20px;
}

.div-block-23 {
  margin-top: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: center;
}

.html-embed-19 {
  margin-top: 20px;
  text-align: center;
}

.section-9 {
  padding: 30px 30px 0px;
}

.cards-section-2 {
  padding: 30px 30px 120px;
}

.centered-container-5 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-18 {
  margin-bottom: 30px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
}

.heading-19 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
}

.heading-20 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
}

.heading-21 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
}

.paragraph-18 {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.paragraph-19 {
  margin-bottom: 60px;
  padding: 20px;
  border-radius: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-weight: 400;
}

.div-block-24 {
  border: 1px none #000;
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
}

.text-block-7 {
  text-align: center;
}

.link-7 {
  color: #000;
}

.link-8 {
  color: #000;
  text-align: center;
}

.text-block-8 {
  text-align: center;
}

.heading-22 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  text-align: center;
}

.slide-11 {
  background-image: url('../images/faserschmiede.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.form-block {
  margin-bottom: 10px;
}

.text-span-5 {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-style: italic;
  text-decoration: none;
}

.text-span-6 {
  font-style: italic;
}

.text-span-7 {
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (min-width: 1920px) {
  .brand {
    background-image: url('../images/Next-Generation-Trucks.png');
    background-position: 50% 50%;
    background-size: cover;
  }

  .image-2 {
    padding-top: 6px;
  }

  .stylenav {
    font-size: 17px;
    line-height: 20px;
  }

  .footer {
    margin-top: 50px;
  }

  .contact-form {
    margin-bottom: 0px;
  }

  .link {
    color: #000;
  }

  .background-video {
    min-height: 700px;
  }
}

@media screen and (max-width: 991px) {
  .body {
    display: block;
  }

  .section-2 {
    padding: 0px 20px 20px;
  }

  .menu-button {
    padding-right: 23px;
  }

  .menu-button.w--open {
    margin-right: auto;
    padding-right: 18px;
  }

  .container-3 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .navbar-2 {
    position: -webkit-sticky;
    position: sticky;
    display: block;
  }

  .menu-button-2 {
    position: relative;
    right: 0px;
    display: block;
    float: left;
    clear: none;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 1px none #000;
    border-radius: 0px;
    opacity: 1;
    outline-color: #333;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 3px;
    text-align: left;
    mix-blend-mode: normal;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .nav-link-2 {
    display: inline-block;
  }

  .brand {
    background-color: #9e1212;
    background-image: url('../images/Next-Generation-Trucks.png');
    background-position: 50% 50%;
    background-size: cover;
  }

  .image {
    max-width: 100%;
    padding-left: 20px;
  }

  .image-2 {
    margin-left: 0px;
    padding-top: 7px;
    padding-left: 0px;
  }

  .icon {
    color: #000;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .flex-container.styleblog {
    padding-top: 35px;
  }

  .feature-image {
    max-height: 50%;
    max-width: 100%;
  }

  .div-block-3 {
    width: 100%;
  }

  .heading {
    width: 100%;
  }

  .hero-overlay.abc1 {
    max-height: none;
    padding-top: 30px;
  }

  .hero-overlay.abc1.blogchange {
    margin-bottom: 20px;
  }

  .paragraph {
    padding-right: 10px;
  }

  .heading-2 {
    margin-top: 20px;
  }

  .heading-4 {
    min-width: 0px;
  }

  .heading-5 {
    max-width: none;
    min-width: 0px;
  }

  .heading-6 {
    min-width: 0px;
  }

  .button {
    max-width: none;
    margin-right: 90px;
    margin-left: 90px;
  }

  .button.stylebuttonblog {
    margin-left: 100px;
  }

  .button.buttonup {
    margin-right: 60px;
    margin-left: 60px;
  }

  .column {
    padding-right: 10px;
    padding-left: 0px;
  }

  .heading-7 {
    margin-bottom: 5px;
    line-height: 30px;
  }

  .heading-8 {
    font-size: 30px;
  }

  .nav-menu-2 {
    background-color: #fff;
    font-family: Ubuntu, Helvetica, sans-serif;
  }

  .dropdown-link.newborder {
    border-style: none;
    border-width: 0px;
  }

  .dropdown-link.newborder.w--current {
    border-style: none;
  }

  .dropdown-link-2 {
    border-style: none;
  }

  .dropdown-link-2.w--current {
    border-style: none;
    border-width: 0px;
  }

  .dropdown-link-3 {
    border-style: none;
    border-width: 0px;
  }

  .styleimageshadow {
    min-width: 350px;
  }

  .cards-grid-container {
    grid-column-gap: 20px;
  }

  .div-block-7 {
    max-width: 400px;
    min-width: 300px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .div-block-8 {
    max-width: 400px;
    min-width: 300px;
  }

  .div-block-9 {
    max-width: 400px;
    min-width: 300px;
  }

  .slide {
    background-image: url('../images/alientech_1.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }

  .slide-2 {
    background-image: url('../images/lightfix_1.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }

  .slide-3 {
    background-image: url('../images/lkw-z_1.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }

  .hero-overlay-2 {
    height: 100vh;
    min-width: 0%;
  }

  .feature-image-2 {
    max-width: 100%;
    min-width: 300px;
  }

  .background-video {
    min-height: auto;
  }

  .div-block-10 {
    margin-top: 30px;
  }

  .paragraph-7 {
    font-size: 15px;
    line-height: 25px;
  }

  .paragraph-8 {
    min-width: 300px;
  }

  .paragraph-9 {
    min-width: auto;
  }

  .heading-15.headinganpassungen {
    color: #000;
    font-size: 22px;
  }

  .div-block-13 {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .heading-16 {
    margin-top: 10px;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #000;
  }

  .paragraph-16 {
    margin-bottom: 0px;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #000;
  }

  .column-5 {
    text-align: left;
  }

  .feature-section-4 {
    margin-right: 30px;
    margin-left: 30px;
  }

  .paragraph-17 {
    max-width: 100%;
    min-width: 100%;
  }

  .slide-4 {
    min-width: 150px;
  }

  .body-4 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .slide-10 {
    background-image: url('../images/Bild_2022-05-21_170154317.png');
    background-position: 50% 50%;
    background-size: auto;
  }

  .div-block-21 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .cards-grid-container-2 {
    grid-column-gap: 20px;
  }

  .slide-11 {
    background-image: url('../images/faserschmiede_1.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  .section-2 {
    padding-left: 20px;
  }

  .section-2:hover {
    display: block;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .container-3 {
    margin-right: 0px;
  }

  .navbar-2 {
    display: block;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .menu-button-2 {
    display: block;
  }

  .menu-button-2.w--open {
    padding: 18px;
  }

  .image {
    padding-left: 20px;
  }

  .image-2 {
    margin-left: 0px;
    padding-top: 7px;
  }

  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .nav-link-3 {
    position: -webkit-sticky;
    position: sticky;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .feature-section {
    padding: 40px 30px;
  }

  .feature-section.blog3 {
    margin-bottom: 0px;
    padding-bottom: 50px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-container.styleblog {
    margin-top: 0px;
    padding-top: 20px;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image-mask.feature-image-mask2 {
    margin-left: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .contact-form {
    padding: 40px 30px;
  }

  .contact-form.faq {
    padding-bottom: 45px;
  }

  .heading {
    display: block;
    overflow: visible;
  }

  .hero-overlay {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-height: none;
    margin-bottom: 0px;
    padding: 40px 20px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .hero-overlay.abc1 {
    margin-bottom: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .hero-overlay.abc1.blogchange {
    margin-bottom: 10px;
  }

  .hero-overlay.abc1.konfiguratormargin {
    margin-bottom: 30px;
  }

  .paragraph {
    padding: 0px 10px;
  }

  .paragraph.p2 {
    margin-bottom: 85px;
  }

  .call-to-action {
    padding: 40px 20px;
  }

  .heading-2 {
    text-align: center;
  }

  .subscribe-form {
    padding: 0px 20px 40px;
  }

  .centered-container-3 {
    padding-top: 50px;
  }

  .button.buttonup {
    width: auto;
    max-width: none;
    min-width: 0px;
    margin: -50px 140px 30px;
  }

  .column {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
  }

  .heading-7 {
    margin-bottom: 5px;
    line-height: 30px;
  }

  .heading-8 {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 34px;
  }

  .styleimageshadow {
    max-width: 100%;
    min-width: 350px;
  }

  .paragraph-6 {
    margin-bottom: 0px;
  }

  .image-6 {
    margin-top: 80px;
  }

  .container-4 {
    margin-top: auto;
    padding-top: 0px;
  }

  .cards-section {
    margin-bottom: 0px;
    padding: 40px 30px 50px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .slide {
    background-image: url('../images/alientech_2.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }

  .slide-3 {
    background-image: url('../images/lkw-z_2.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }

  .hero-overlay-2 {
    padding: 40px 20px;
  }

  .column-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .feature-section-2 {
    padding: 40px 20px;
  }

  .feature-image-2 {
    min-width: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .feature-section-3 {
    padding: 40px 20px;
  }

  .feature-section-3.feature-section-change {
    padding-bottom: 40px;
  }

  .background-video {
    min-height: 500px;
  }

  .hero-overlay-3 {
    padding: 40px 20px;
  }

  .paragraph-7 {
    font-size: 15px;
    line-height: 25px;
  }

  .heading-12 {
    font-size: 38px;
  }

  .paragraph-8 {
    max-width: none;
    min-width: auto;
  }

  .paragraph-9 {
    max-width: none;
  }

  .tab-link-tab-1-2.w--current {
    margin-right: 0px;
  }

  .tabs {
    margin-bottom: 40px;
  }

  .image-7 {
    margin-right: 30px;
  }

  .image-8 {
    margin-top: 50px;
  }

  .paragraph-10 {
    text-align: center;
  }

  .form {
    padding-right: 100px;
    padding-left: 100px;
  }

  .container-7 {
    padding-bottom: 40px;
  }

  .heading-15.headinganpassungen {
    margin-bottom: 0px;
  }

  .div-block-13 {
    padding: 0px;
    background-color: transparent;
  }

  .column-6 {
    display: block;
  }

  .feature-section-4 {
    padding: 40px 0px;
  }

  .heading-17 {
    font-size: 26px;
  }

  .text-block-5 {
    font-size: 11px;
  }

  .text-block-6 {
    text-align: left;
  }

  .slide-10 {
    background-size: cover;
  }

  .div-block-21 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-8 {
    margin-bottom: 45px;
  }

  .cards-section-2 {
    padding: 40px 30px;
  }

  .cards-grid-container-2 {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .body {
    padding: 0px 0px 15px;
  }

  .container {
    margin-right: 0px;
    padding-right: 0px;
  }

  .menu-button-2 {
    float: left;
    clear: none;
  }

  .image-2 {
    display: block;
    margin-right: 0px;
    margin-left: 20px;
    padding: 7px 0px 0px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .icon {
    background-color: transparent;
    color: #000;
  }

  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link-3 {
    display: block;
    overflow: visible;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px none #000;
    font-weight: 700;
    text-decoration: none;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
    text-align: left;
  }

  .flex-container.styleblog {
    margin-top: 0px;
    padding-top: 20px;
  }

  .feature-image-mask.feature-image-mask2 {
    margin-left: 0px;
  }

  .contact-form {
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .hero-overlay {
    width: 100%;
    height: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }

  .hero-overlay.abc1 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero-overlay.abc1.blogchange {
    margin-bottom: 0px;
  }

  .centered-container {
    text-align: left;
  }

  .paragraph {
    display: block;
    max-height: none;
    max-width: none;
    padding-right: 0px;
    padding-left: 0px;
  }

  .centered-container-2 {
    text-align: left;
  }

  .heading-2 {
    text-align: center;
  }

  .subscribe-form {
    padding-bottom: 40px;
  }

  .centered-container-3 {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .subscribe-form-input-wrapper {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .subscribe-form-input {
    width: 100%;
  }

  .heading-4 {
    font-size: 26px;
    line-height: 32px;
  }

  .heading-5 {
    font-size: 26px;
    line-height: 32px;
  }

  .heading-6 {
    font-size: 26px;
    line-height: 32px;
  }

  .button.buttonup {
    width: auto;
    max-width: none;
    min-width: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .heading-7 {
    margin-bottom: 5px;
    line-height: 30px;
  }

  .heading-8 {
    font-size: 24px;
  }

  .styleimageshadow {
    min-width: 0px;
  }

  .paragraph-6 {
    display: block;
    margin-bottom: 0px;
  }

  .cards-section {
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .div-block-7 {
    max-width: 400px;
    min-width: 0px;
  }

  .div-block-8 {
    min-width: 0px;
  }

  .div-block-9 {
    min-width: 0px;
  }

  .slide {
    background-image: url('../images/alientech_auto_x2.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }

  .slide-2 {
    background-image: url('../images/lightfix_auto_x2.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }

  .slide-3 {
    background-image: url('../images/lkw-z_auto_x2.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }

  .hero-overlay-2 {
    min-width: 0%;
  }

  .centered-container-4 {
    text-align: left;
  }

  .background-video {
    min-height: 500px;
    min-width: 0px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .paragraph-7 {
    font-size: 14px;
    line-height: 20px;
  }

  .heading-12 {
    font-size: 25px;
    line-height: 30px;
  }

  .section-5 {
    margin-bottom: 0px;
  }

  .section-6 {
    margin-left: 0px;
  }

  .paragraph-8 {
    min-width: auto;
  }

  .paragraph-9 {
    min-width: auto;
  }

  .tabs-menu {
    margin-bottom: 40px;
  }

  .tab-link-tab-1-2 {
    width: 100%;
  }

  .tab-link-tab-1-2.w--current {
    width: 100%;
  }

  .tab-link-tab-2-2 {
    width: 100%;
  }

  .tab-link-tab-2-2.w--current {
    width: 100%;
  }

  .button-konfigurator {
    min-width: 50px;
    text-align: center;
    cursor: pointer;
  }

  .div-block-12 {
    text-align: center;
  }

  .field-label-6 {
    font-family: Ubuntu, Helvetica, sans-serif;
    text-align: center;
  }

  .field-label-7 {
    font-family: Ubuntu, Helvetica, sans-serif;
    text-align: center;
  }

  .form {
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
  }

  .field-label-8 {
    font-family: Ubuntu, Helvetica, sans-serif;
    text-align: center;
  }

  .html-embed-2 {
    font-family: Ubuntu, Helvetica, sans-serif;
    text-align: center;
  }

  .html-embed-3 {
    font-family: Ubuntu, Helvetica, sans-serif;
    text-align: center;
  }

  .html-embed-4 {
    font-family: Ubuntu, Helvetica, sans-serif;
    text-align: center;
  }

  .heading-15.headinganpassungen {
    font-size: 22px;
  }

  .feature-section-4 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .feature-section-4.anpassungen {
    padding-bottom: 120px;
  }

  .feature-section-4.feature-section-5 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .paragraph-17 {
    max-width: none;
    min-width: 10px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .heading-17 {
    font-size: 20px;
  }

  .slide-4 {
    min-width: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .div-block-15 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .slider {
    margin-right: 0px;
    margin-left: 0px;
  }

  .tabs-menu-2 {
    margin-bottom: 40px;
  }

  .tab-link-tab-1-3 {
    width: 100%;
  }

  .tab-link-tab-1-3.w--current {
    width: 100%;
  }

  .tab-link-tab-2-3 {
    width: 100%;
  }

  .tab-link-tab-2-3.w--current {
    width: 100%;
  }

  .tab-link-tab-3-2 {
    width: 100%;
  }

  .column-7 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .div-block-17 {
    text-align: left;
  }

  .div-block-18 {
    text-align: left;
  }

  .text-block-6 {
    text-align: left;
  }

  .div-block-22 {
    margin-right: 30px;
    margin-left: 30px;
  }

  .html-embed-17 {
    text-align: center;
  }

  .div-block-23 {
    text-align: center;
  }

  .cards-section-2 {
    padding-bottom: 20px;
  }

  .centered-container-5 {
    text-align: left;
  }

  .cards-grid-container-2 {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading-18 {
    text-align: center;
  }

  .text-block-7 {
    text-align: left;
  }

  .text-block-8 {
    text-align: left;
  }

  .column-9 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-10 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-12 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-13 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-14 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

#w-node-_7979966f-880d-e61e-3044-127fbb31a8a2-c144ed65 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 767px) {
  #w-node-d739b9fe-4e6a-5929-621b-287047f2dc8c-6e2c9fcc {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_89f8958a-e435-a783-446d-dbd2c7de98d2-cdded2e2 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_952af272-c4f0-d5e2-010c-9bfd3a87578e-4b4f4eb6 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0828c3b4-45f5-2c8a-c04b-511cc093c82f-1d96250c {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0828c3b4-45f5-2c8a-c04b-511cc093c831-1d96250c {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0828c3b4-45f5-2c8a-c04b-511cc093c836-1d96250c {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0828c3b4-45f5-2c8a-c04b-511cc093c838-1d96250c {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_7979966f-880d-e61e-3044-127fbb31a892-c144ed65 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_7979966f-880d-e61e-3044-127fbb31a89a-c144ed65 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_7979966f-880d-e61e-3044-127fbb31a89e-c144ed65 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_0828c3b4-45f5-2c8a-c04b-511cc093c825-1d96250c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0828c3b4-45f5-2c8a-c04b-511cc093c82c-1d96250c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_0828c3b4-45f5-2c8a-c04b-511cc093c833-1d96250c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

